* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: hsl(169, 53%, 14%); /* this is the color use */

  --primary: 169deg 53% 14%;
  --dark: hsl(169deg 53% 3%);
  --light: hsl(169deg 53% 97%);

  --header-container-height: 10vh;
  --header-menu-right-margin: 25px;

  --font-size-normal: 1em;
  --font-size-medium: 1.12em;
  --font-size-large: 1.34em;
  --font-size-xlarge: 1.7em;
  --font-size-xxlarge: 2.1em;
  --transition-time: 0.3s;
}

::selection {
  background-color: hsl(var(--primary) / 30%);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /* 375 x 812 the font size will be ~ 16.125px*/
  font-size: min(4.3vw, 18px);

  color: var(--dark);
  background: var(--light);

  line-height: 1.4;
}

h1 {
  font-size: var(--font-size-xxlarge);
}

h2 {
  font-size: var(--font-size-xlarge);
}

h3 {
  font-size: var(--font-size-large);
}

h4 {
  font-size: var(--font-size-medium);
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 1em;
}

a {
  text-underline-offset: 0.2em;
  color: var(--dark);
}

a:hover {
  text-decoration-style: dotted;
}

/* Le barre de navigation commence ici ! */
.flex-wrapper {
  display: flex;
  align-items: center;
}

.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

.header .flex-wrapper {
  justify-content: space-between;
  height: var(--header-container-height);
}

.brand-name {
  font-size: var(--font-size-medium);
  text-decoration-line: none;
  font-weight: 700;
}

.header {
  box-shadow: 0 10px 38px hsl(var(--primary) / 15%);
}

.menu {
  list-style: none;
  text-decoration: none;
}

.menu .link {
  text-decoration: none;
}

.menu .link:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.header .menu .link {
  font-weight: 500;
}

.burger {
  cursor: pointer;
}

.burger .line {
  background: var(--dark);
  width: 2em;
  height: 0.18em;
}

.burger .line:nth-child(2) {
  margin: 6px 0;
}

.content .container {
  padding: var(--font-size-xxlarge) 0;
}
